<!DOCTYPE html>
<html lang="it">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7R1XL51BR9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-7R1XL51BR9');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/nav.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/programmi.css" type="text/css">
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <title>Programmi</title>
</head>
<body>
    <div id="loader">
        <div class="ball">
            <img src="../assets/images/ball.gif" alt="ball gif">
        </div>
    </div>
    <nav>
        <div class="wrapper">
            <ul>
                <li><a id="menu-1" href="../index.html">Chi Siamo</a></li>
                <li id="mselect"><a id="menu-2" href="./programmi.html">Programmi</a></li>
                <li><a id="menu-3" href="./contatti.html">Contatti</a></li>
            </ul>
            <div class="icons">
                <a href="https://www.instagram.com/">
                    <svg class="mini-icon" viewBox="0 0 32 32" id="Camada_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"/>
                            <path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8   c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"/>
                            <path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8   c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"/>
                        </g>
                    </svg>
                </a>
                <a href="https://www.instagram.com/osa.faenza/">
                    <svg class="mini-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="wrapper-2">
            <div>
                <a href="../index.html">
                    <img class="hero" src="../assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div>
                <h1>MARTEDÌ D'ESTATE</h1>
                <h1 class="slogan">Sfidare il presente - Conquistare il futuro</h1>
            </div>
        </div>
    </nav>
    <main>
        <h2 id="multi_title1" class="fade-in">Martedì 23 Giugno</h2>
        <div class="divider div-transparent div-arrow-down" style="margin: 0 0 10px 0;"></div>
        <p>Questo martedì 23 Giugno abbiamo in programma di Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit dolor qui eveniet iure impedit officia debitis quis, ab maxime. Laboriosam in eos accusamus culpa illo reiciendis, quas quod voluptate! Lorem ipsum dolor sit amet consectetur, adipisicing elit. At molestias atque in reprehenderit animi veniam similique commodi accusamus dolore, quae suscipit! Quidem eveniet facere temporibus sunt voluptatibus numquam eos laboriosam. <br>Sarà un'ottima occasione per divertirsi e fare nuovi amici! <br> <a class="tuesday" href="https://www.google.com/maps/dir//Oami+Skateplaza,+Via+Renaccio,+48018+Faenza+RA/@44.230792,11.7865661,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x132b4e267f88f41d:0xdecf937a9320d460!2m2!1d11.8835423!2d44.2789528?entry=ttu&g_ep=EgoyMDI2MDYxMy4wIKXMDSoASAFQAw%3D%3D">Clicca qui per aprire Maps!</a>
        </p>
        <div class="tuesdayimgs">
            <img src="../assets/images/skatepark.webp" alt="Skatepark Faenza">
        </div>
        <h2 id="multi_title2" class="fade-in">Martedì 30 Giugno</h2>
        <div class="divider div-transparent div-arrow-down" style="margin: 0 0 10px 0;"></div>
        <p>Martedì 30 Giugno abbiamo in programma di Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit dolor qui eveniet iure impedit officia debitis quis, ab maxime. Laboriosam in eos accusamus culpa illo reiciendis, quas quod voluptate! Lorem ipsum dolor sit amet consectetur, adipisicing elit. At molestias atque in reprehenderit animi veniam similique commodi accusamus dolore, quae suscipit! Quidem eveniet facere temporibus sunt voluptatibus numquam eos laboriosam. <br>Sarà un'ottima occasione per divertirsi e fare nuovi amici! <br>
        <a class="tuesday" href="https://www.google.com/maps/dir//Oami+Skateplaza,+Via+Renaccio,+48018+Faenza+RA/@44.230792,11.7865661,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x132b4e267f88f41d:0xdecf937a9320d460!2m2!1d11.8835423!2d44.2789528?entry=ttu&g_ep=EgoyMDI2MDYxMy4wIKXMDSoASAFQAw%3D%3D">Clicca qui per aprire Maps!</a>
        </p>
        <div class="tuesdayimgs">
            <img src="../assets/images/bucci.jpg" alt="Buccix Faenza">
        </div>
        <h2 id="multi_title3" class="fade-in">Martedì 7 Luglio</h2>
        <div class="divider div-transparent div-arrow-down" style="margin: 0 0 10px 0;"></div>
        <p style="padding-bottom: 40px;">Martedì 7 Luglio abbiamo in programma di Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit dolor qui eveniet iure impedit officia debitis quis, ab maxime. Laboriosam in eos accusamus culpa illo reiciendis, quas quod voluptate! Lorem ipsum dolor sit amet consectetur, adipisicing elit. At molestias atque in reprehenderit animi veniam similique commodi accusamus dolore, quae suscipit! Quidem eveniet facere temporibus sunt voluptatibus numquam eos laboriosam. <br>Sarà un'ottima occasione per divertirsi e fare nuovi amici! <br> <a class="tuesday" href="https://www.google.com/maps/dir//Oami+Skateplaza,+Via+Renaccio,+48018+Faenza+RA/@44.230792,11.7865661,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x132b4e267f88f41d:0xdecf937a9320d460!2m2!1d11.8835423!2d44.2789528?entry=ttu&g_ep=EgoyMDI2MDYxMy4wIKXMDSoASAFQAw%3D%3D">Clicca qui per aprire Maps!</a>
        </p>
    </main>
    <footer>
        <h3>&copy; MARTEDÌ D'ESTATE - Calcio Popolare</h3>
    </footer>
    <a href="#top" class="btn-fixed">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
        </svg>
    </a>
    <script src="../assets/js/loader.js"></script>
    <script>
        let activeText = 1,
            titles1 = [
                "Martedì 23 Giugno",
                "Calcio Popolare"
            ],
            titles2 = [
                "Martedì 30 Giugno",
                "Calcio Popolare + Pizzata"
            ]
            titles3 = [
                "Martedì 7 Luglio",
                "Calcio Popolare"
            ]
    changeText()
    setInterval(function(){
        changeText()
    },3000)
    function changeText(){
        if(activeText){
            activeText = 0
        } else {
            activeText = 1
        }
        document.getElementById("multi_title1").classList.add("fade-in")
        document.getElementById("multi_title2").classList.add("fade-in")
        document.getElementById("multi_title3").classList.add("fade-in")
        setTimeout(()=>{
            document.getElementById("multi_title1").innerHTML = titles1[activeText]
            document.getElementById("multi_title2").innerHTML = titles2[activeText]
            document.getElementById("multi_title3").innerHTML = titles3[activeText]
        }, 250)
        setTimeout(()=>{
            document.getElementById("multi_title1").classList.remove("fade-in") 
            document.getElementById("multi_title2").classList.remove("fade-in") 
            document.getElementById("multi_title3").classList.remove("fade-in") 
        }, 500)
    }
    </script>
</body>
</html>