nav{
    display: flex;
    flex-direction: column;
}

.wrapper{
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 80px;
}

.wrapper-2{
    display: flex;
    gap: 30px;
    background-color: var(--darkergrey);
    padding: 20px 120px;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    padding: 20px 10px;
    transition: all 0.33s linear;
}

a{
    text-decoration: none;
    color: var(--lightgrey);
}

li a{
    padding: 20px 0;
    transition: all 0.33s linear;
}

li:hover{
    background-color: var(--black);
}

.icons{
    display: flex;
    gap:15px;
}

.mini-icon{
    fill: var(--lightgrey);
    height: 40px;
    width:40px;
    padding: 5px;
    border: 2px solid var(--lightgrey);
    border-radius: 14px;
    transition: all 0.33s linear;
}

.mini-icon:hover{
    border-color: var(--bg);
    fill: var(--bg);
}

.hero{
    height: 100px;
    width: 100px; 
}

h1{
    color: var(--bg);
    font-size: 3rem;
}

.slogan{
    color: var(--lightgrey);
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

    .wrapper{
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        text-align: center;
    }

    .wrapper-2{
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        justify-content: center;
    }

    ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    li{
        padding: 10px;
    }

    h1{
        font-size: 2rem;
        text-align: center;
    }

    .slogan{
        font-size: 1rem;
        text-align: center;
    }

    .hero{
        width: 70px;
        height: 70px;
    }

    .icons{
        justify-content: center;
        flex-wrap: wrap;
    }

    .mini-icon{
        width: 35px;
        height: 35px;
    }

}