nav{
    display: flex;
    flex-direction: column;
}

.wrapper{
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 80px;
}

.wrapper-2{
    background-color: var(--grey);
    padding: 20px 80px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    padding: 20px 10px;
    transition: all 0.33s linear;
}

a{
    text-decoration: none;
    color: var(--lightgrey);
}

li a{
    padding: 20px 0;
    transition: all 0.33s linear;
}

li:hover{
    background-color: var(--black);
}

a:hover{
    color:var(--bg);
}

.icons{
    display: flex;
    gap:15px;
}

.mini-icon{
    fill: var(--lightgrey);
    height: 40px;
    width:40px;
    padding: 5px;
    border: 2px solid var(--lightgrey);
    border-radius: 14px;
    transition: all 0.33s linear;
}

.mini-icon:hover{
    border-color: var(--bg);
    fill: var(--bg);
}

.hero{
    height: 100px;
    width: 100px; 
}