#menu-1{
    color:var(--lightgrey);
}

#menu-2{
    color:var(--white);
}

#menu-3{
    color:var(--lightgrey);
}

#menu-1:hover{
    color:var(--white);
}

#menu-3:hover{
    color:var(--white);
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap:20px;
}

h2{
    font-size: 3rem;
    padding-left: 45px; 
}

p{
    padding: 0 75px;
}

.tuesday{
    color: var(--vividred);
    text-decoration: underline;
}

.tuesday:hover{
    text-decoration: none;
}
