#menu-1{
    color:var(--lightgrey);
}

#menu-2{
    color:var(--white);
}

#menu-3{
    color:var(--lightgrey);
}

#menu-1:hover{
    color:var(--white);
}

#menu-3:hover{
    color:var(--white);
}

#mselect{
    background-color: var(--black);
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap:20px;
}

h2{
    font-size: 3rem;
    padding-left: 45px; 
}

p{
    padding: 0 75px;
}

.tuesday{
    color: var(--vividred);
    text-decoration: underline;
}

.tuesday:hover{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    main{
        padding: 10px;
        gap: 10px;
    }

    h2{
        font-size: 1.8rem;
        padding-left: 0;
        text-align: center;
    }

    p{
        padding: 0 5px;
        font-size: 0.95rem;
        line-height: 1.7;
    }
}