:root{
    --grey: #333;
    --white: #fff;
    --red: #e84747;
    --vividred: #cf2e2e;
    --black: #000;
    --bg: #f1f1f1;
    --lightgrey: #abb8c3;
    --darkgrey: #222;
    --darkergrey: #111;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background-color: var(--darkgrey);
    color: var(--bg);
}

::-webkit-selection{
    background-color: var(--darkgrey);
    color: var(--bg);
}

#loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    background: var(--bg);
    justify-content: center;
    align-items: center;
    display: flex;
}

#loader .ball img{
    width: 100vw;
    max-width: 500px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--black);
}

img{
    display: block;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.divider{
	position: relative;
	height: 1px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 3px;
	background-image: linear-gradient(to right, transparent, var(--vividred), transparent);
}

.div-arrow-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: var(--bg);
	border-bottom: 1px solid var(--vividred);
	border-right: 1px solid var(--vividred);
}

footer{
    background-color: var(--darkergrey);
    color: var(--white);
    padding: 50px 0 50px 100px;
}

.btn-fixed{
    position:fixed;
    bottom:20px;
    right:20px;
    background-color: var(--grey);
    color: var(--bg);
    width: 40px;
    height:40px;
    border-radius: 14px;
    cursor:pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all 0.2s all;
}

.btn-fixed:hover{
    transform: scale(1.15);
}

.btn-fixed:active{
    transform: scale(0.97);
}

.fade-in{
    animation: fade-out-in 0.5s ease forwards;
}

@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}